@model IEnumerable<Football_Stats.Library.Models.Standing>

@{
    ViewBag.Title = "Bundes Liga";
}


<h2 class="mt-3 text-center">@ViewBag.Title</h2>
<hr />

<div class="container">
    <div class="row">
        @Html.Partial("~/Views/Shared/PartialViews/_MenuView.cshtml")
        @Html.Partial("~/Views/Shared/PartialViews/_StandingsView.cshtml")
    </div>
</div>

